@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
*{
    padding: 0;
    margin: 0;
}

.body{
    min-height: 100vh;
    background-size: 100vw 100vh;
    background: url("../img/bg1.jpg") no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scoreBox{
    position: absolute;
    top: 9px;
    right: 200px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#hiscoreBox{
    position: absolute;
    top: 59px;
    right: 140px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#board{
    background-size:cover;
    background: url("../img/new.jpg") no-repeat center;
    width: 90vmin;
    height: 90vmin;
    border: 2px solid black;
    display: grid;

    grid-template-rows: repeat(15, 1fr);
    grid-template-columns: repeat(15, 1fr);
}

.head{
    background-size: contain;
    background: url("../img/dkhead.png") no-repeat center;
    border: 0;
    transform: scale(2.02);
    border-radius: 6px;
}

.snake{
    background : url("../img/dkbody.png");
    background-size: contain;
    transform: scale(2.02);
    border: 0;
    border-radius: 6px;
}

.food{
    background: url("../img/food.gif") no-repeat;
    background-size: cover;
    border: 0;

    border-radius: 8px;
}